@page
@model MaktabGram.Presentation.RazorPages.Pages.Account.LogoutModel
@{
}

<main class="max-w-4xl mx-auto px-4 pt-6 pb-20 md:pb-8">
    <div class="alert alert-info">در حال خروج... شما به صفحه ورود منتقل می‌شوید.</div>
</main>
